@font-face{
                                font-family: DINRoundPro;
                                font-display: swap;
                                src: url("../fonts/DINRoundPro-Medi.woff2") format("woff2"), url("../fonts/DINRoundPro-Medi.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
